[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
soupsieve = "*"
lxml = "*"
scrapy = "*"
selectorlib = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
nltk = "*"
scikit-learn = "*"
scipy = "*"
matplotlib = "*"
sentence-transformers = "*"

[dev-packages]

[requires]
python_version = "3.10"
